.top-bar {
    height: 80px;
    background-color:var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    padding-block: 10px;
}

.nav-buttons > h3 > a {
    text-decoration: none;
    margin-inline: 20px;
}

.nav-active {
    color: var(--accent-color) !important;
}

a:visited {
    text-decoration: none;
    color: var(--text-color);
}


.nav-buttons {
    display: flex;
    align-items: center;
}

.btn {
    background-color: var(--primary-color);
    border: 0px;
    cursor: pointer;
}

.logout {
    font-size: medium;
    font-weight: bold;
    color: var(--text-color);
}