table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  text-align: center;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
 
}

input[type="checkbox"]:checked {
 color: var(--accent-color);
}